<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart page</title>
    <style>
        body {
            padding: 20px;
        }
        .product {
            border: 1px solid black;
            display: inline-block;
            padding: 5px;
            margin: 10px;
        }

    </style>
</head>
<body>
<h1>Your cart:</h1>
<h3>Items in cart: {{numItems}}</h3>
<a href="/">Resume shopping</a>
<div>
    {{#each items}}
        <div class="product">
            <h3>{{name}}</h3>
            <p>Price: {{price}}</p>
            <a href="/remove/{{@index}}">Remove product</a>
        </div>
    {{/each}}
</div>
<h1>Total: {{total}}</h1>
</body>
</html>