<h1>Customize your order</h1>
<div class="catalog">
    <div class="column">
        <img src="/{{imageUrl}}">
    </div>
    <div class="column">
        <h2>{{productName}}</h2>
        <h3>Toppings</h3>
        <div class="toppings">
            <form action="/order/place" method="post" id="order-form">
                <input name="product_id" type="hidden" value="{{_id}}">
                {{#each toppings}}
                    <input name="{{this}}" type="checkbox" value="{{this}}" checked>
                    <label style="text-transform: capitalize" for="{{this}}">{{this}}</label>
                    <br>
                {{else}}
                    <p class="error" style="font-style: italic">No toppings available with this product!</p>
                {{/each}}
            </form>
        </div>
        <a class="button" href="javascript:document.getElementById('order-form').submit()">Checkout</a>
    </div>
</div>